{% extends 'user/settings.html' %}
{% set active_setting = "password" %}

{% block setting_content %}
    <div class="settings-card w-100 bg-light">
        <h3 class="card-header">Reset Password</h3>
        <div class="card-body">
        	<form action="{{ url_for('user.set_password') }}" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.old_password(size=32, class="form-control", placeholder="Old password") }}
                </div>
                <div class="form-group">
                    {{ form.password(size=32, class="form-control", placeholder="New password") }}
                </div>
                <div class="form-group">
                    {{ form.password2(size=32, class="form-control", placeholder="Repeat password") }}
                    {% for error in form.password2.errors %}
                    <small class="error-bullet">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="input-group">
                    {{ form.submit(class="btn btn-outline-secondary btn-sm btn-block") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}