{% extends 'base.html' %}
{% set active_page = "settings" %}

{% block title %}{{ _('Settings')}}{% endblock %}

{% block content %}
    <div class="page-header {% if get_locale() == 'zh' %}fluffy{% endif %}">
        <h1>{{ _('Settings')}}</h1>
        <h1></h1>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-3 settings-nav">
            {% set settings_nav = [
                ('/user/settings/profile', 'profile', 'Profile'),
                ('/user/settings/password', 'password', 'Password'),
                ('/user/settings/photo', 'photo', 'Photo'),
                ('/user/settings/avatar', 'avatar', 'Avatar')
            ] %}
            {% for href, id, caption in settings_nav %}
            <a class="{% if id == active_setting %}active{% endif %}" href="{{ href|e }}"><strong>{{ caption }}</strong></a>
            {% endfor %}
        </div>
        <div class="nav nav-tabs settings-menu col-12" role="tablist">
            {% for href, id, caption in settings_nav %}
            <div class="nav-item">
                <a class="nav-link {% if id == active_setting %}active{% endif %}" href="{{ href|e }}">{{ caption }}</a>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-9">
            {% block setting_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
