{% extends "base.html" %}
{% set active_page = "news" %}

{% block title %}{{ _('Add event')}}{% endblock %}

{% block content %}
<div class="main-content logincard">
    <h1 class="headup">What's the plan?</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name(class="form-control", placeholder="Name") }}
            {% for error in form.name.errors %}
            <small class="error-bullet">{{ error }}</small>
            {% endfor %}
        </p>
        <p>
            {{ form.location(class="form-control", placeholder="Location") }}
            {% for error in form.location.errors %}
            <small class="error-bullet">{{ error }}</small>
            {% endfor %}
        </p>
        <p>
            {{ form.startdate(class="form-control", placeholder="StartDate: YYYY-MM-DD") }}
            {% for error in form.startdate.errors %}
            <small class="error-bullet">{{ error }}</small>
            {% endfor %}
        </p>
        <p>
            {{ form.enddate(class="form-control", placeholder="EndDate: YYYY-MM-DD") }}
            {% for error in form.enddate.errors %}
            <small class="error-bullet">{{ error }}</small>
            {% endfor %}
        </p>
        <small class="text-muted">
            This will create events on the calendar.
        </small>
        {{ form.submit(type="submit", class="btn btn-outline-danger btn-sm btn-block") }}
    </form>

    <p></p>
    <p>History:</p>
    <ul class="list-group">
        {% for event in events %}
        <li class="list-group-item">
            <small>{{ event.startdate.strftime('%Y-%m-%d') }}&emsp;{{ event.name }}&emsp;{{ event.location }}</small>
            <form method="post" action="{{ url_for('.delete_event', event_id=event.id, next=request.full_path) }}" style="float: right; margin: 0;">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button class="book-button" onclick="return confirm('Will remove this event from calendar. Sure about this?');"><i class="far fa-calendar-times"></i></button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}