{% extends 'base.html' %}
{% set active_page = "bookshelf" %}
{% block title %}{{ _('Bookshelf') }}{% endblock %}

{% block styles %}
<meta name="csrf-token" content="{{ csrf_token() }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 headup {% if get_locale() == 'zh' %}fluffy{% endif %}">
        <h1>{{ _('Bookshelf') }}</h1>
        <p>{{ _('Shared documents and softwares') }}</p>
    </div>
    <div class="col-md-4">
        {% if current_user.is_authenticated %}
        <div class="pub-button">
            <a data-toggle="collapse" href="#NewFile" role="button" aria-label="Add files!" aria-controls="Add files!">
            <i class="fas fa-book fa-2x" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Add files"></i>
            </a>
        </div>
        {% endif %}
    </div>
</div>

{% if current_user.is_authenticated %}
<div class="collapse" id="NewFile" style="padding-top: 10px;">
    <!-- Change action value to your upload address -->
    <form action="{{ url_for('uploadfile') }}" class="dropzone" method="POST" enctype="multipart/form-data" id="bookcollect" style="border: 2px dashed #eee; border-radius: 8px;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="dz-message needsclick">    
        Drop files here or click to upload.<br>
        <small class="note needsclick">
            .pdf .doc .docx .xls .xlsx .ppt. pptx .txt .md .csv<br>
            .zip .rar .iso .7z<br>
            .mp4 .mov .mkv .avi .flv .rmvb .mp3</small>
        </div>
    </form>
</div>
{% endif %}

<div class="bookshelf">
    <table>
        <thead>
            <!--
        <tr>
            <th>Name</th>
            <th style="text-align: center; max-width: 100px;">Byte</th>
            <th style="text-align: center; max-width: 100px;">Date</th>
            <th style="text-align: center; max-width: 100px;">Tool</th>
        </tr>
    -->
        </thead>
        <tr>
            <td class="bookshelf-shack"><span>DOCUMENT</span></td>
            <td class="bookshelf-shack"></td>
            <td class="bookshelf-shack"></td>
            <td class="bookshelf-shack"></td>
        </tr>
        {% for f in document %}
        {% if not f.islocked or current_user.is_authenticated %}
        <tr>
            <td>{{ f.name }}</a></td>
            <td style="text-align: right;">{{ f.size }}</td>
            <td style="text-align: center;">{{ moment(f.timestamp).format('YYYY-MM-DD') }}</td>
            <td style="text-align: center;">
                <form method="get"
                      action="{{ url_for('download', file_id=f.id) }}" style="display: inline;">
                    <button class="book-button"><i class="far fa-save"></i></button>
                </form>
                {% if current_user.is_authenticated %}
                    {% if f.islocked %}
                    <form method="post"
                          action="{{ url_for('block', file_id=f.id) }}" style="display: inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button class="book-button"><i class="far fa-eye-slash"></i></button>
                    </form>
                    {% else %}
                    <form method="post"
                          action="{{ url_for('block', file_id=f.id) }}" style="display: inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button class="book-button"><i class="far fa-eye"></i></button>
                    </form>
                    {% endif %}
                <form method="post"
                      action="{{ url_for('delete_file', file_id=f.id, next=request.full_path) }}" style="display: inline;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button class="book-button" onclick="return confirm('Can not be reversed. Are you sure?');"><i class="far fa-trash-alt"></i></button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
            <td class="bookshelf-shack"><span>PACKAGE</span></td>
            <td class="bookshelf-shack"></td>
            <td class="bookshelf-shack"></td>
            <td class="bookshelf-shack"></td>
        </tr>

        {% for z in package %}
        {% if not z.islocked or current_user.is_authenticated %}
        <tr>
            <td>{{ z.name }}</a></td>
            <td style="text-align: right;">{{ z.size }}</td>
            <td style="text-align: center;">{{ moment(z.timestamp).format('YYYY-MM-DD') }}</td>
            <td style="text-align: center;">
                <form method="get"
                      action="{{ url_for('download', file_id=z.id) }}" style="display: inline;">
                    <button class="book-button"><i class="far fa-save"></i></button>
                </form>
                {% if current_user.is_authenticated %}
                    {% if z.islocked %}
                    <form method="post"
                          action="{{ url_for('block', file_id=z.id) }}" style="display: inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button class="book-button"><i class="far fa-eye-slash"></i></i></button>
                    </form>
                    {% else %}
                    <form method="post"
                          action="{{ url_for('block', file_id=z.id) }}" style="display: inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button class="book-button"><i class="far fa-eye"></i></i></i></button>
                    </form>
                    {% endif %}
                <form method="post"
                      action="{{ url_for('delete_file', file_id=z.id, next=request.full_path) }}" style="display: inline;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button class="book-button" onclick="return confirm('Can not be reversed. Are you sure?');"><i class="far fa-trash-alt"></i></button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
            <td class="bookshelf-shack"><span>VIDEO</span></td>
            <td class="bookshelf-shack"></td>
            <td class="bookshelf-shack"></td>
            <td class="bookshelf-shack"></td>
        </tr>

        {% for v in video %}
        {% if not v.islocked or current_user.is_authenticated %}
        <tr>
            <td>{{ v.name }}</a></td>
            <td style="text-align: right;">{{ v.size }}</td>
            <td style="text-align: center;">{{ moment(v.timestamp).format('YYYY-MM-DD') }}</td>
            <td style="text-align: center;">
                <form method="get"
                      action="{{ url_for('download', file_id=v.id) }}" style="display: inline;">
                    <button class="book-button"><i class="far fa-save"></i></button>
                </form>
                {% if current_user.is_authenticated %}
                    {% if v.islocked %}
                    <form method="post"
                          action="{{ url_for('block', file_id=v.id) }}" style="display: inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button class="book-button"><i class="far fa-eye-slash"></i></i></button>
                    </form>
                    {% else %}
                    <form method="post"
                          action="{{ url_for('block', file_id=v.id) }}" style="display: inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button class="book-button"><i class="far fa-eye"></i></i></i></button>
                    </form>
                    {% endif %}
                <form method="post"
                      action="{{ url_for('delete_file', file_id=v.id, next=request.full_path) }}" style="display: inline;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button class="book-button" onclick="return confirm('Can not be reversed. Are you sure?');"><i class="far fa-trash-alt"></i></button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
<script type="text/javascript">
    Dropzone.options.bookcollect = {
    acceptedFiles: ".mp4, .mov, .mkv, .avi, .flv, .rmvb, .mp3, .pdf, .docx, .doc, .xls, .xlsx, .ppt, .pptx, .txt, .md, .csv, .rar, .iso, .zip, .7z",
};
</script>
{% endblock %}