{% extends "base.html" %}
{% set active_page = "project" %}

{% block title %}{{ _('Edit project')}}{% endblock %}

{% block content %}
<div class="pub-box" style="padding-top: 10px;">
	{% if current_user.is_authenticated %}
	<form action="{{ url_for('edit_pubs', paper_id=paper.id) }}" method="post" enctype="multipart/form-data">
		{{ form.hidden_tag() }}

		<div class="form-group">
			{{ form.title(class="form-control", placeholder="Title") }}
			{% for error in form.title.errors %}
            <small class="error-bullet">{{ error }}</small>
            {% endfor %}
		</div>

		<div class="form-row form-group">
			<div class="col-4">
				{{ form.author(class="form-control", placeholder="Author") }}
				{% for error in form.author.errors %}
                <small class="error-bullet">{{ error }}</small>
                {% endfor %}
			</div>
			<div class="col">
				{{ form.coauthor(class="form-control", placeholder="Co-Author") }}
			</div>
		</div>

		<div class="form-row form-group">
			<div class="col-4">
				{{ form.journal(class="form-control", placeholder="Journal") }}
				{% for error in form.journal.errors %}
                <small class="error-bullet">{{ error }}</small>
                {% endfor %}
            </div>
			<div class="col-4">
				{{ form.date(class="form-control", placeholder="YYYY-MM") }}
				{% for error in form.date.errors %}
                <small class="error-bullet">{{ error }}</small>
                {% endfor %}
			</div>
			<div class="col-4">
				{{ form.category(class="custom-select form-control", id="filtername") }}
			</div>
		</div>

		<div class="form-group">
			{{ form.abstract(class="form-control", placeholder="Abstract", style="height: 300px;") }}
			{% for error in form.abstract.errors %}
            <small class="error-bullet">{{ error }}</small>
            {% endfor %}
		</div>

		<div class="form-group">
			{{ form.abstract(class="form-control", placeholder="Citation", style="height: 100px;") }}
		</div>
		
		<div class="row">
			<div class="custom-control custom-switch col-4">
				{{ form.is_sci(type="checkbox", class="custom-control-input", id="SCIswitch") }}
				<label class="custom-control-label" for="SCIswitch">SCI</label>
			</div>
			<div class="custom-control custom-switch col-4">
				{{ form.is_ei(type="checkbox", class="custom-control-input", id="EIswitch") }}
				<label class="custom-control-label" for="EIswitch">EI</label>
			</div>
			<div class="custom-control custom-switch col-4">
				{{ form.is_locked(type="checkbox", class="custom-control-input", id="Lockswitch") }}
				<label class="custom-control-label" for="Lockswitch">Classified?</label>
			</div>
		</div>



		</div>
		<div class="form-group">
			{{ form.submit(class="btn btn-outline-danger btn-sm btn-block") }}
		</div>
	</form>
	{% endif %}
</div>

{% endblock %}